src/external/xerces/tests/src/XSTSHarness/regression/XERCESC-1718/test.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:t="test" targetNamespace="test">

  <simpleType name="list">
    <list itemType="string"/>
  </simpleType>

  <complexType name="type">
    <sequence>
      <element name="efoo" type="string"/>
    </sequence>
    <attribute name="abar">
      <simpleType name="list">
        <list itemType="string"/>
      </simpleType>
    </attribute>
  </complexType>

  <element name="root" type="string"/>

</schema>
