src/external/xerces/tests/src/XSTSHarness/regression/XERCESC-1393/schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

<xs:element name="Songs">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Song" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="title" use="required"/>
        </xs:complexType>
      </xs:element>
   </xs:sequence>
  </xs:complexType>

  <xs:unique name="Song">
    <xs:selector xpath="Song"/>
    <xs:field xpath="@title"/>
  </xs:unique>
</xs:element>

</xs:schema>