src/external/xerces/tests/src/XSTSHarness/regression/XERCESC-1583/keyref-imported.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:imported" xmlns="urn:imported">
    <xsd:element name="items">
        <xsd:complexType>
            <xsd:sequence minOccurs="1" maxOccurs="unbounded">
                <xsd:element name="item">
                    <xsd:complexType>
                        <xsd:attribute name="index" type="xsd:integer"/>
                        <xsd:attribute name="parent" type="xsd:integer"/>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:integer"/>
        </xsd:complexType>
        <xsd:key name="index">
            <xsd:selector xpath="item"/>
            <xsd:field xpath="@index"/>
        </xsd:key>
        <xsd:keyref name="keyRef" refer="index">
            <xsd:selector xpath="item"/>
            <xsd:field xpath="@parent"/>
        </xsd:keyref>
    </xsd:element>
</xsd:schema>