src/external/xerces/tests/src/XSTSHarness/regression/XERCESC-796/sample.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:element name="xscRoot">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ExternallyVisible" type="xsd:string"/>
				<xsd:element name="ListeningStates">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="state" type="xsd:string"/>
							<xsd:element name="hello">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:minLength value="3"/>
										<xsd:maxLength value="6"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="state" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>