src/external/xerces/tests/src/XSTSHarness/regression/XERCESC-538/test.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">


	<xsd:complexType name="CreatorType">
		<xsd:sequence>
			<xsd:element name="Character" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Instrument" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CreatorType2">
		<xsd:complexContent>
			<xsd:restriction base="CreatorType">
				<xsd:sequence>
					<xsd:element name="Character" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="Instrument" type="xsd:string" minOccurs="0" maxOccurs="0"/>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="root" type="CreatorType2">
	</xsd:element>

</xsd:schema>