src/external/xerces/tests/src/XSTSHarness/regression/XERCESC-1591/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:hl7-org:v3" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="urn:hl7-org:v3" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xsd:complexType name="ANY" abstract="true"></xsd:complexType>

	<xsd:complexType name="CD">
		<xsd:complexContent>
			<xsd:extension base="ANY">
				<xsd:sequence>
					<xsd:element name="qualifier" type="CR" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="code" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="CE">
		<xsd:complexContent>
			<xsd:restriction base="CD">
				<xsd:sequence>
				</xsd:sequence>
				<xsd:attribute name="code" use="optional"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="CV">
		<xsd:complexContent>
			<xsd:restriction base="CE">
				<xsd:sequence>
				</xsd:sequence>
				<xsd:attribute name="code" use="optional"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="CR">
		<xsd:complexContent>
			<xsd:extension base="ANY">
				<xsd:sequence>
					<xsd:element name="name" type="CV" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
				<xsd:attribute name="inverted" use="optional" default="false"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="root" type="CV"/>
</xsd:schema>