src/external/xerces/tests/src/XSTSHarness/regression/XERCESC-1659/test-4/test-user-config.xsd

<?xml version="1.0" ?>

<xsd:schema xmlns:xsd=        "http://www.w3.org/2001/XMLSchema"
            xml:lang=         "en">


<xsd:complexType name="TestUserConfig_t">
   <xsd:sequence>
      <xsd:element name="Name" type="xsd:string"/>
   </xsd:sequence>

   <xsd:attribute name="Number" type="xsd:string" use="required"/>
</xsd:complexType>

<!-- Substitution group root for user database types. -->
<xsd:element name="TestUserConfig" type="TestUserConfig_t"/>


</xsd:schema>