src/external/xerces/tests/src/XSTSHarness/regression/XERCESC-2017/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="CONFIG">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="DBS"/>
        <xs:element ref="HOSTS"/>
      </xs:sequence>
    </xs:complexType>
	<xs:key name="DbIdKey">
		<xs:selector xpath="./DBS/DB|./DBS/VDB|./DBS/VDB/PARTS/PART_DB" />
		<xs:field xpath="@ID" />
	</xs:key>
	<xs:keyref name="DbIdRef" refer="DbIdKey">
		<xs:selector xpath="./HOSTS/HOST/DBS/DB|./HOSTS/HOST/VDBS/DB" />
		<xs:field xpath="@ID" />
	</xs:keyref>
  </xs:element>
  <xs:element name="HOSTS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="HOST"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HOST">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="DBS"/>
        <xs:element ref="VDBS"/>
      </xs:sequence>
      <xs:attribute name="ID" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="VDBS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="DB"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DBS">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="DB"/>
        <xs:element minOccurs="0" ref="VDB"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PARTS"/>
      </xs:sequence>
      <xs:attribute name="ID" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PARTS">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="PART_DB"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PART_DB">
    <xs:complexType>
      <xs:attribute name="ID" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="DB">
    <xs:complexType>
      <xs:attribute name="ID" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
