src/external/xerces/tests/src/XSTSHarness/regression/XERCESC-977/boolean.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="BooleanunionPattern" type="booleanunionPattern"/>

	<xs:simpleType name="booleanunion">
		<xs:union memberTypes="xs:boolean xs:string"/>
	</xs:simpleType>

	<xs:simpleType name="booleanunionPattern">
		<xs:restriction base="booleanunion">
			<xs:pattern value="1|true|good"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>