src/external/xerces/tests/src/XSTSHarness/regression/XERCESC-1281/restrictionTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://my.big.org" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:my="http://my.big.org">
	<!-- ============================================================= -->
	<!-- ============================================================= -->
	<element name="AbstractObject" type="anyType" abstract="true"/>
	<!-- ============================================================= -->
	<element name="O1" type="my:O1_Type" substitutionGroup="my:AbstractObject"/>
	<!-- =========================================================== -->
	<complexType name="O1_Type">
		<complexContent>
			<restriction base="anyType">
				<sequence>
					<element name="s1" type="string"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<element name="O2" type="my:O2_Type" substitutionGroup="my:O1"/>
	<!-- =========================================================== -->
	<complexType name="O2_Type">
		<complexContent>
			<extension base="my:O1_Type">
				<sequence>
					<element name="s2" type="string"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<!-- =========================================================== -->
	<element name="a1" type="my:A1_Type"/>
	<!-- =========================================================== -->
	<complexType name="A1_Type">
		<sequence maxOccurs="unbounded">
			<element ref="my:O1"/>
		</sequence>
	</complexType>
	<!-- =========================================================== -->
	<element name="a2" type="my:A2_Type" substitutionGroup="my:a1"/>
	<!-- =========================================================== -->
	<complexType name="A2_Type">
		<complexContent>
			<restriction base="my:A1_Type">
				<sequence maxOccurs="unbounded">
					<element ref="my:O2"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- =========================================================== -->
	<!-- =========================================================== -->
	<element name="b1" type="my:B1_Type"/>
	<!-- =========================================================== -->
	<complexType name="B1_Type">
		<sequence>
			<element ref="my:O1" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<!-- =========================================================== -->
<!-- 
	<element name="b2" type="my:B2_Type" substitutionGroup="my:b1"/>
-->
	<!-- =========================================================== -->
<!-- This hasn't been fixed yet
	<complexType name="B2_Type">
		<complexContent>
			<restriction base="my:B1_Type">
				<sequence>
					<choice maxOccurs="unbounded">
						<element ref="my:O2"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	-->
	<!-- =========================================================== -->
	<element name="Bucket">
		<complexType>
			<sequence maxOccurs="unbounded">
				<choice>
					<element ref="my:a1"/>
					<element ref="my:b1"/>
				</choice>
			</sequence>
		</complexType>
	</element>
	<!-- =========================== -->
</schema>