src/external/xerces/tests/src/xinclude/tests/xinclude/tests/tests.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:xml="http://www.w3.org/XML/1998/namespace"
	targetNamespace="http://www.schemaTest.org/xinclude-test"
	xmlns:xit="http://www.schemaTest.org/xinclude-test">

<import namespace="http://www.w3.org/XML/1998/namespace"
        schemaLocation="./xmlbase.xsd"/>

<!-- used for test01.xml -->
<complexType name="childType" mixed="true">
	<sequence>
		<element name="desc">
			<simpleType>
				<restriction base="string">
					<pattern value="Text\d"/>
				</restriction>
			</simpleType>
		</element>
	</sequence>
	<attribute name="name" type="ID"/>
	<attribute ref="xml:base"/>
</complexType>

<!-- used for test01.xml -->
<complexType name="selectType">
	<attribute name="name" type="IDREF"/>
</complexType>

<!-- used for test01.xml -->
<element name="myRoot">
	<complexType>
		<sequence>
			<element name="child1" type="xit:childType"/>
			<element name="child2" type="xit:childType"/>		
			<element name="child3" type="xit:childType"/>
			<element name="select" type="xit:selectType"/>
			<element name="view">
				<complexType>
					<attribute ref="xml:base"/>
					<attribute name="sun" type="string"/>
				</complexType>
			</element>
		</sequence>
	</complexType>
</element>

<attribute name="foo" type="string"/>

<attribute name="bar" type="string"/>

<element name="elem">
	<complexType>
		<attribute name="foo" type="string"/>
		<attribute name="bar" type="string"/>
		<attribute ref="xml:base"/>
	</complexType>
</element>

<element name="x">
	<complexType mixed="true">
		<sequence>
			<element ref="xit:elem" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</element>

</schema>
