src/external/xerces/tests/src/XSTSHarness/regression/XERCESC-1776/gargamel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://gargamel" elementFormDefault="qualified" >
        <xsd:complexType name="gargamelType">
                <xsd:sequence>
                        <xsd:element name="Data">
                                <xsd:complexType>
                                        <xsd:sequence>
                                                <xsd:element name="Object" type="xsd:string"/>
                                        </xsd:sequence>
                                </xsd:complexType>
                        </xsd:element>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema> 