src/external/xerces/tests/src/XSTSHarness/regression/XERCESC-1758/test.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:t="test" targetNamespace="test">

  <complexType name="upa">
    <choice>
      <any namespace="##other" processContents="skip"/>
      <any namespace="##local" processContents="skip"/>
    </choice>
  </complexType>

  <complexType name="base">
    <sequence>
      <any namespace="##other" processContents="skip"/>
    </sequence>
  </complexType>

  <complexType name="derived">
    <complexContent>
      <restriction base="t:base">
        <sequence>
          <any namespace="##local" processContents="skip"/>
        </sequence>
      </restriction>
    </complexContent>
  </complexType>

  <complexType name="type">
    <sequence>
      <element name="upa" type="t:upa" maxOccurs="unbounded"/>
      <element name="derived" type="t:derived" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <element name="root" type="t:type"/>

</schema>
