src/external/xerces/tests/src/XSTSHarness/regression/XERCESC-1822/m3_10v39.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!--
Test Type  : Schema VALID  ( element wildcard <any> )
Description: Tests <any> with minOccurs=, maxOccurs=, namespace="##local",
             processContents="skip" within <group><sequence>.
             No targetNamespace defined.
-->
<xs:simpleType name="boy_girl_type">
	<xs:restriction base="xs:string">
		<xs:enumeration value="boy"/>
		<xs:enumeration value="girl"/>
	</xs:restriction>
</xs:simpleType>

<xs:complexType name="childType">
	<xs:attribute name="boy_girl" type="boy_girl_type"/>
	<xs:attribute name="age"      type="xs:nonNegativeInteger"/>
</xs:complexType>

<xs:group name="group2">
	<xs:sequence>
		<xs:element name="child1" type="childType"/>
		<xs:element name="child2" type="childType"/>
		<xs:any namespace="##local" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:group>

<xs:attributeGroup name="attrgrp1">
	<xs:attribute name="position" type="xs:Name"/>
	<xs:attribute name="degree" type="xs:string"/>
</xs:attributeGroup>

<xs:element name="pet">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="xs:NCName">
				<xs:attribute name="age" type="xs:positiveInteger"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:element>

<xs:simpleType name="year">
	<xs:restriction base="xs:positiveInteger">
		<xs:minInclusive value="1900"/>
		<xs:maxExclusive value="2100"/>
	</xs:restriction>
</xs:simpleType>

<xs:element name="car">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="xs:NCName">
				<xs:attribute name="year" type="year"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:element>

<xs:group name="group1">
	<xs:sequence>
		<xs:element name="home_address" type="xs:string"/>
		<xs:any minOccurs="2" maxOccurs="2" namespace="##targetNamespace"/>
		<xs:group ref="group2"/>
	</xs:sequence>
</xs:group>

<xs:complexType name="fatherType">
	<xs:group ref="group1"/>
	<xs:attribute name="last_name" type="xs:Name"/>
	<xs:attributeGroup ref="attrgrp1"/>
</xs:complexType>

<xs:element name="father" type="fatherType"/>

</xs:schema>