src/external/xerces/tests/src/XSTSHarness/regression/XERCESC-809/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="SP" xmlns:sm="SP" attributeFormDefault="unqualified" elementFormDefault="qualified">

	<xsd:complexType name="CTa">
		<xsd:attribute name="aID" type="xsd:integer" use="required"/>
		<xsd:attribute name="x" type="xsd:integer" use="optional"/>
		<xsd:attribute name="y" type="xsd:integer" use="optional"/>
		<xsd:attribute name="z" type="xsd:integer" use="optional"/>
	</xsd:complexType>

	<!-- DEFINITION OF THE ONLY ALLOWED ROOT ELEMENT -->
	<xsd:element name="root">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="a" type="sm:CTa" maxOccurs="unbounded">
					<xsd:key name="xORzKEY">
						<xsd:selector xpath="."/>
						<xsd:field xpath="@x|@y"/>
						<!--<xsd:field xpath="@x|@z"/>-->
					</xsd:key>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>