src/external/xerces/doc/style/dtd/document.dtd

<?xml encoding='ISO-8859-1'?>

<!-- STYLEBOOK DOCUMENT DTD -->

<!-- import the external blocks.ent dtd -->
<!ENTITY % blocksEntity SYSTEM "blocks.ent">
%blocksEntity;

<!ELEMENT s1 (s2|%blocks;)*>
<!ELEMENT s2 (s3|%blocks;)*>
<!ELEMENT s3 (s4|%blocks;)*>
<!ELEMENT s4 (%blocks;)*>

<!ATTLIST s1 title CDATA #REQUIRED>
<!ATTLIST s2 title CDATA #REQUIRED>
<!ATTLIST s3 title CDATA #REQUIRED>
<!ATTLIST s4 title CDATA #REQUIRED>

<!-- CVS $Revision$ $Date$ -->