src/external/xerces/doc/style/dtd/links.ent

<?xml encoding='ISO-8859-1'?>

<!-- LINKS ENTITY -->
<!ENTITY % links "link|anchor|jump|img|resource-ref|human-resource-ref">

<!ELEMENT anchor EMPTY>
<!ATTLIST anchor name NMTOKEN #REQUIRED>

<!ELEMENT img EMPTY>
<!ATTLIST img src CDATA #REQUIRED
              alt CDATA #REQUIRED>

<!ELEMENT link (#PCDATA|img)*>
<!ATTLIST link idref NMTOKEN #IMPLIED
               anchor CDATA  #IMPLIED>

<!ELEMENT jump (#PCDATA|img)*>
<!ATTLIST jump href CDATA #REQUIRED>

<!-- cross-reference resource elements -->
<!ELEMENT resource-ref 		EMPTY>
<!ATTLIST resource-ref 		idref CDATA #REQUIRED>
<!ELEMENT human-resource-ref 	EMPTY>
<!ATTLIST human-resource-ref 	 idref CDATA #REQUIRED>