src/external/xerces/tests/src/XSTSHarness/regression/XERCESC-394/test.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="BaseElement">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="myAttribute" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ExtendingElement">
		<xsd:simpleContent>
			<xsd:extension base="BaseElement"/>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>