src/external/xerces/tests/src/XSTSHarness/regression/XERCESC-1051/schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="season">
    <xs:complexType>
        <xs:sequence minOccurs="3" maxOccurs="100">
           <xs:element name="spring" minOccurs="10" maxOccurs="99"/>
           <xs:element name="summer" minOccurs="10" maxOccurs="99"/>
        </xs:sequence>
    </xs:complexType>
    </xs:element>
</xs:schema>