src/external/xerces/tests/src/XSTSHarness/regression/XERCESC-1659/test-1/derived-user-config.xsd

<?xml version="1.0" ?>

<xsd:schema xmlns:xsd= "http://www.w3.org/2001/XMLSchema"
            xmlns:b=   "http://www.dave.com/Base"
            xml:lang=  "en">

<xsd:import namespace="http://www.dave.com/Base" schemaLocation = "test-user-config.xsd"/>


<xsd:complexType name="DerivedUserConfig_t">

   <xsd:complexContent>
      <xsd:extension base="b:TestUserConfig_t">
         <xsd:sequence>
   
            <xsd:element name="Age" type="xsd:unsignedInt"/>
            
         </xsd:sequence>
      </xsd:extension>
   </xsd:complexContent>

</xsd:complexType>


<!-- Add this user type to the substitution group. -->
<xsd:element name="DerivedUserConfig" type="DerivedUserConfig_t" substitutionGroup="b:TestUserConfig"/>


</xsd:schema>