src/external/xerces/tests/src/XSTSHarness/regression/XERCESC-1777/base.xsd

<?xml version="1.0" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	    xmlns:b="base"
            targetNamespace="base">

  <xsd:complexType name="foo">
    <xsd:sequence>
      <xsd:element name="a" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="base">
    <xsd:sequence>
      <xsd:element name="Value" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
