src/external/xerces/tests/src/XSTSHarness/regression/XERCESC-845/one.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="one" xmlns="one" xmlns:two="two" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xs:import namespace="two" schemaLocation="two.xsd"/>

    <xs:simpleType name="BookName">
        <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="BookTitle">
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="mytest" type="two:test"/>
</xs:schema>