src/external/xerces/tests/src/XSTSHarness/regression/XERCESC-474/mySchema.xsd

<xsd:schema xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
  <xsd:element type='MyNewType' name='Decimal' />
  <xsd:simpleType name='MyDecimalType'>
    <xsd:restriction base='xsd:decimal'>
      <xsd:pattern value='-?(([1-9][0-9]*)|0)\.[0-9]{2}' />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name='MyNewType'>
    <xsd:restriction base='MyDecimalType'>
      <xsd:minInclusive value='0.00' />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
