src/external/xerces/tests/src/DOM/TypeInfo/data/combined.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema' elementFormDefault="unqualified"  >

<xs:element name="root" type="rootType" />

<xs:complexType name="rootType" >
  <xs:sequence >
    <xs:element name="level1" type="xs:string" />
  </xs:sequence>
  <xs:attribute name="attBoth" type="xs:string" />  
  <xs:attribute name="attSchema" type="xs:string" />  
</xs:complexType>

</xs:schema>