src/external/xerces/tests/src/XSTSHarness/regression/XERCESC-1748/anyURITest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'>

 <xs:import namespace="http://www.w3.org/XML/1998/namespace">
   <xs:annotation>
     <xs:documentation>
        The schemaLocation of the relevant file is
        "http://www.w3.org/2001/xml.xsd"; however,
        we don't want to assume people are always
        connected to the 'net when playing with this file.
     </xs:documentation>
   </xs:annotation>
 </xs:import>

 <xs:element name="anyURITest">
  <xs:complexType>
   <xs:sequence>
    <xs:element ref="uri" maxOccurs="unbounded" />
   </xs:sequence>
  </xs:complexType>
 </xs:element>

 <xs:element name="uri">
  <xs:complexType>
   <xs:attribute name="href" type="xs:anyURI" use="required" />
  </xs:complexType>
 </xs:element>

</xs:schema>
