src/external/xerces/tests/src/XSTSHarness/regression/XERCESC-1546/test.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:t="test"
        targetNamespace="test"
        elementFormDefault="qualified">

  <simpleType name="ListOfInts">
    <list itemType="int"/>
  </simpleType>

  <simpleType name="int3">
    <restriction base="t:ListOfInts">
      <minLength value="3"/>
      <maxLength value="3"/>
    </restriction>
  </simpleType>

  <element name="root" type="t:int3" default="0 0 0"/>

</schema>