src/external/xerces/tests/src/XSTSHarness/regression/XERCESC-1819/test.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:t="test" targetNamespace="test">

  <complexType name="type">
    <sequence>
      <element name="foo" type="string"/>
      <any namespace="##targetNamespace" processContents="skip"/>
      <element name="bar" type="string"/>
    </sequence>
  </complexType>

  <element name="root" type="t:type"/>

</schema>
