src/external/xerces/tests/src/XSTSHarness/regression/XERCESC-607/test.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="m_All">
		<xsd:complexType>
			<xsd:all minOccurs="0" maxOccurs="1">
				<xsd:element name="e_1" type="xsd:string"/>
				<xsd:element name="e_2" type="xsd:string"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>